@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 1 0 0;
    --foreground: 0.147 0.004 49.25;
    --card: 1 0 0;
    --card-foreground: 0.147 0.004 49.25;
    --popover: 1 0 0;
    --popover-foreground: 0.147 0.004 49.25;
    --primary: 0.553 0.195 38.402;
    --primary-foreground: 0.98 0.016 73.684;
    --secondary: 0.967 0.001 286.375;
    --secondary-foreground: 0.21 0.006 285.885;
    --muted: 0.97 0.001 106.424;
    --muted-foreground: 0.553 0.013 58.071;
    --accent: 0.97 0.001 106.424;
    --accent-foreground: 0.216 0.006 56.043;
    --destructive: 0.577 0.245 27.325;
    --destructive-foreground: 0.98 0.016 73.684;
    --border: 0.923 0.003 48.717;
    --input: 0.923 0.003 48.717;
    --ring: 0.709 0.01 56.259;
    --radius: 0.875rem;
    --success: 0.723 0.191 142.5;
    --success-foreground: 0.98 0.016 73.684;
    --warning: 0.769 0.188 70.08;
    --warning-foreground: 0.147 0.004 49.25;
  }
}
